.dDetails {
  border: calc(var(--size)/16) solid var(--background-color);
  padding: 0;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  cursor: pointer;
  margin: -2px;
  height: calc(var(--size) + 4px);
  padding: var(--padding);
}

.rotatedIcon {
  rotate: -180deg;
}

.content {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background: white; /*TODO*/
  color: var(--color-text); /*TODO*/
  overflow: hidden;
  padding: var(--padding);
  padding-top: 0;
  padding-bottom: 0;
}
