.dProgress {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;
}

.label {
  --offset: 4px;
  margin-bottom: var(--offset);
}

.progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  min-width: calc(var(--min-width)*2);
  height: calc(var(--size)/2);
  border: calc(var(--size)/16) solid var(--background-color);
  outline: calc(var(--size)/16) solid var(--color);
  cursor: wait;
}

.progress[value]::-webkit-progress-bar {
  background-color: var(--color);
}

.progress[value]::-webkit-progress-value {
  background-color: var(--background-color);
}

.progress[value]::-moz-progress-bar {
  accent-color: var(--background-color);
}

.progress:indeterminate::-webkit-progress-bar,
.progress:not([value])::-webkit-progress-bar {
  background-color: var(--color);
}

.content {
  position: absolute;
  bottom: 0;
  height: calc(var(--size)/2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  /* This value is the OPPOSITE color of our background */
  color: var(--color);
  mix-blend-mode: difference;
  pointer-events: none;
}

.loaderContainer {
  position: absolute;
  bottom: 0;
  height: calc(var(--size)/2);
  min-height: calc(var(--size)/2);
  width: 100%;
  overflow: hidden;
}

.loader {
  height: calc(var(--size)/2);
  bottom: 0;
  margin-top: auto;
  overflow: hidden;
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(-65%);
  }
  45% {
    transform:  translateX(0);
  }
  100% {
    transform:  translateX(65%);
  }
}
