@import '@darwin-studio/ui-dictionary/build/variables.css';

.dBackdrop {
  --opacity: 0.2;
  opacity: var(--opacity);
  --z-index: 1000;
  z-index: var(--z-index);
  --background-color: var(--color-primary-background);
  background-color: var(--background-color);
  --position: fixed;
  position: var(--position);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
