.dDrawer {
  --width: 25%;
  --height: 25%;
  --border-width: 4px; /*TODO: make configurable*/
  --border-style: solid; /*TODO: make configurable*/
  --z-index: 1001;
  z-index: var(--z-index);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); /*TODO: make it configurable*/
}

.dDrawer,
.dDrawer:hover {
  background: white; /*TODO: make it configurable*/
  color: var(--color-text); /*TODO: make it configurable*/
}

.top {
  bottom: auto;
  width: 100vw;
  height: var(--height);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: var(--border-width) var(--border-style) var(--background-color);
}

.right {
  left: auto;
  width: var(--width);
  height: 100vh;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: var(--border-width) var(--border-style) var(--background-color);
}

.bottom {
  top: auto;
  width: 100vw;
  height: var(--height);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top: var(--border-width) var(--border-style) var(--background-color);
}

.left {
  right: auto;
  width: var(--width);
  height: 100vh;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right: var(--border-width) var(--border-style) var(--background-color);
}

.backdropTransitionEnterActive,
.backdropTransitionLeaveActive {
  opacity: 0;
}

.transitionEnterActive.top,
.transitionLeaveActive.top {
  transform: translate3d(0, -100%, 0);
}

.transitionEnterActive.right,
.transitionLeaveActive.right {
  transform: translate3d(100%, 0, 0);
}

.transitionEnterActive.bottom,
.transitionLeaveActive.bottom {
  transform: translate3d(0, 100%, 0);
}

.transitionEnterActive.left,
.transitionLeaveActive.left {
  transform: translate3d(-100%, 0, 0);
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  overflow: hidden;
}

.closeButton {
  margin-left: auto;
  height: var(--size);
  width: var(--size);
}

.content {
  padding: var(--padding);
  padding-left: 0;
  padding-right: 0;
  margin-bottom: auto;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
