.dInput {
  width: fit-content; /*TODO: do we really need this*/
  /* TODO: min-width: var(--control-min-width);*/
}

.label {
  /*TODO*/
  margin-bottom: 2px;
  display: block;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  outline: none;
  appearance: none;
}

.beforeInput,
.afterInput {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.beforeInput {
  left: 0;
}

.afterInput {
  right: 0;
}

.input:disabled {
  cursor: not-allowed;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  /*TODO: color: var(--color-text-aux);*/
  opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  /*TODO: color: var(--color-text-aux);*/
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  /*TODO: color: var(--color-text-aux);*/
}

.error {
  /*TODO: avoid hardcode*/
  margin-top: 2px;
  /*TODO: avoid hardcode*/
  color: var(--color-danger-background);
}
