@import '~@darwin-studio/ui-dictionary/build/variables.css';

.dTypography {
  color: var(--color-text);
}

.dTypography > * {
  margin: 1em 0;
}

.dTypography > :first-child {
  margin-top: 0;
}

.dTypography > :last-child {
  margin-bottom: 0;
}
