.dSlider {
  position: relative;
  width: fit-content;
}

.caption {
  --gap: -4px; /*TODO: make configurable*/
  position: absolute;
  top: calc(100% + var(--gap));
}

.captionTransitionEnterActive,
.captionTransitionEnterActive {
  transform: translate3d(0, -50%, 0) scale3d(1, 1, 0);
  opacity: 0.65;
}
