.dSlider {
  position: relative;
  width: fit-content;
}

.label {
  --offset: -4px;
  margin-bottom: var(--offset);
  display: block;
}

.caption {
  --offset: -4px;
  position: absolute;
  top: calc(100% + var(--offset));
}

.captionTransitionEnterActive,
.captionTransitionEnterActive {
  transform: translate3d(0, -50%, 0) scale3d(1, 1, 0);
  opacity: 0.65;
}

.input {
  --height: calc(var(--size) * 0.1);
  --opacity: aa;
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: var(--height);
  min-height: var(--height);
  margin: calc((var(--size) - var(--height)) / 2) 0;
  background-color: var(--background-color);
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
  border-radius: var(--border-radius);

}

.input::-webkit-slider-thumb {
  appearance: none;
  width: calc(var(--size) * 0.65);
  height: calc(var(--size) * 0.65);
  outline: calc(var(--size) * 0.35) solid rgba(255,255,255,0.65);
  cursor: pointer;
  background: var(--background-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.input::-moz-range-thumb {
  appearance: none;
  box-sizing: border-box;
  width: calc(var(--size) * 0.65);
  height: calc(var(--size) * 0.65);
  outline: calc(var(--size) * 0.35) solid rgba(255,255,255,0.65);
  cursor: pointer;
  background: var(--background-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.__disable {
  cursor: not-allowed;
}
