.dButton {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
}

.dButton:disabled,
.dButton.__disabled,
.dButton.__loading {
  cursor: not-allowed;
}

.loader {
  position: absolute;
}
