.dButton {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.dButton:disabled,
.dButton.__disabled {
  cursor: not-allowed;
}

.loader {
  position: absolute;
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
}
