.dSwitch {
  width: fit-content; /*TODO: do we really need this*/
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 4px; /*TODO: avoid hardcoded values*/
}

.track {
  display: block;
  position: relative;
  background:  var(--color-primary-background); /*TODO*/
  border-radius: 10vmin;
  cursor: pointer;
}

.label {
  cursor: pointer;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
}

.__disabled .label,
.__disabled .track {
  cursor: not-allowed;
}

.thumb {
  position: absolute;
  border-radius: 50%;
  background: var(--color-primary); /*TODO*/
  top: 0;
  left: 0;
  transition: all 150ms; /*TODO*/
}

.input:checked ~ .thumb {
  left: calc(100% - var(--size));
  background: var(--color-alternative-background); /*TODO*/
}

.error {
  /*TODO: avoid hardcode*/
  margin-top: 2px;
  /*TODO: avoid hardcode*/
  color: var(--color-danger-background); /*TODO: use special color*/
}

