@import '@darwin-studio/ui-dictionary/build/variables.css';

.dNotification {
  --offset: 20px; /*TODO: make it configurable via css custom props*/
  --border-width: 4px; /*TODO: make configurable*/
  --border-style: solid; /*TODO: make configurable*/
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  z-index: 100;
  position: absolute;
  margin: auto;
  cursor: pointer;
}

.top {
  top: var(--offset);
  left: 0;
  right: 0;
}

.top-right {
  top: var(--offset);
  right: var(--offset);
}

.right {
  right: var(--offset);
  top: 0;
  bottom: 0;
}

.bottom-right {
  bottom: var(--offset);
  right: var(--offset);
}

.bottom {
  bottom: var(--offset);
  left: 0;
  right: 0;
}

.bottom-left {
  bottom: var(--offset);
  left: var(--offset);
}

.left {
  left: var(--offset);
  top: 0;
  bottom: 0;
}

.top-left {
  top: var(--offset);
  left: var(--offset);
}

.transitionEnterActive,
.transitionLeaveActive {
  opacity: 0;
}

.top,
.top-right,
.top-left {
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.right,
.top-right,
.bottom-right {
  border-left: var(--border-width) var(--border-style) var(--border-color);
}

.bottom,
.bottom-right,
.bottom-left {
  border-top: var(--border-width) var(--border-style) var(--border-color);
}

.left,
.top-left,
.bottom-left {
  border-right: var(--border-width) var(--border-style) var(--border-color);
}

.success {
  --border-color: green; /*TODO: use custom prop*/
}

.info {
  --border-color: var(--color-link); /*TODO: use other custom prop*/
}

.warning {
  --border-color: var(--color-alternative-background); /*TODO: use other custom prop*/
}

.error {
  --border-color: var(--color-danger-background); /*TODO: use other custom prop*/
}
