.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.dLoader {
  --z-index: 1001;
  z-index: var(--z-index);
  --animation-duration: 1500ms;
  height: var(--size);
  width: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  animation: rotation var(--animation-duration) infinite normal;
}

@keyframes rotation {
  from {
    transform: rotate3d(0, 0 ,1, 0deg);
    /*rotate: 0;*/
  }
  to {
    transform: rotate3d(0, 0 ,1, 359deg);
    /*rotate: 359deg;*/
  }
}

.backdropTransitionEnterActive,
.backdropTransitionLeaveActive {
  opacity: 0;
}

.transitionEnterActive,
.transitionLeaveActive {
  opacity: 0.55;
  scale: 1.1;
  transform-origin: center;
}
