.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.dLoader {
  --z-index: 1001;
  z-index: var(--z-index);
  --animation-duration: 1s;
  height: var(--size);
  width: var(--size);
  font-size: 180%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotation var(--animation-duration) infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.backdropTransitionEnterActive,
.backdropTransitionLeaveActive {
  opacity: 0;
}

.transitionEnterActive,
.transitionLeaveActive {
  opacity: 0;
}
