.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.dLoader {
  --z-index: 1001;
  z-index: var(--z-index);
  --animation-duration: 1s;
  height: var(--size);
  width: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotation 1s infinite linear; /*TODO: how to use --transform ???*/
  animation-duration: var(--animation-duration);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); /*TODO: make it configurable*/
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
