.dCheckbox {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.input,
.label {
  cursor: pointer;
}

.input:disabled,
.input:disabled ~ .label {
  cursor: not-allowed;
}

.label {
  margin-left: 4px; /*TODO: avoid hardcode*/
}

.error {
  /*TODO: avoid hardcode*/
  margin-top: 2px;
  /*TODO: avoid hardcode*/
  color: var(--color-danger-background);
  width: 100%;
}
